@page "/"
@using MQTTnet
@using MQTTnet.Client
@using MQTTnet.Formatter
@using Smart.Home.Client.Services.Interfaces
@inject IMqttService _mqtt

<div class="row">
    <div class="col-lg-6 col-12">
        <input class="form-control" @bind=_msg/>
       
    </div>
    <div>
        <button class="btn btn-primary" @onclick=SendToServer>
            Enviar
        </button>
    </div>
</div>
@code {
    private string _msg;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender){

        }
        await base.OnAfterRenderAsync(firstRender);
    }

    private async Task SendToServer()
    {
        await _mqtt.SendMessageAsync("Teste", _msg);
    }
}